---
import type { MarkdownInstance } from "astro";
import { FrontmatterProps } from "../types/frontmatter";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts: MarkdownInstance<FrontmatterProps>[] = await Astro.glob(
  "../pages/posts/*.md"
);
---

<BaseLayout pageTitle="My Astro Learning Blog">
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map(post => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat possimus
    doloremque inventore incidunt neque laudantium repellendus, atque,
    asperiores rerum pariatur sed delectus voluptas maiores veniam nesciunt
    autem totam iusto vel.
  </p>
</BaseLayout>
